@import '../variables.scss';

.switchbox {
    .switch {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 22px; 
        border-radius: 20px;
        background: #21212114;
        transition: background .6s cubic-bezier(0.4, 0, 0.2, 1);
        vertical-align: middle;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: 2px; /* Initial position for animation */
            width: 25px;
            height: 25px;
            background: #fafafa;
            border-radius: 50%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow around handle */
            
            transition: 
                left .6s cubic-bezier(0.4, 0, 0.2, 1), /* Smooth left movement */
                background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:active::before {
            box-shadow: 
                0 2px 8px rgba(0, 0, 0, 0.28),
                0 0 0 20px rgba(128, 128, 128, 0.1);
        }
    }

    input:checked + .switch {
        background: lighten($color3, 30%);

        &::before {
            left: 25px; 
            background: $color3;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
        }

        &:active::before {
            box-shadow: 
                0 2px 8px rgba(0, 0, 0, 0.28),
                0 0 0 20px rgba(0, 150, 136, 0.2);
        }
    }
}
